.thought-container {
 border: 3px solid pink;
 margin: 20px;
 box-shadow: 4px 4px black;
 width: 500px;
}

.content-container {
  border: 3px solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 7px;
}

.icon-container {
  display: flex;
}

.heart-button {
  border-radius: 25px;
  margin-right: 10px;
}