.thought-container {
 border: 1px solid #333F48;
 margin: 20px;
 box-shadow: 4px 4px black;
 width: 300px;
 overflow-wrap: break-word;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 10px;
  display: flex;
  align-items: baseline;
}

.icon-container {
  display: flex;
  align-items: center;
}

.heart-button {
  border-radius: 50%;
  margin-right: 10px;
  border: none;
  width: 35px;
  height: 35px;
  background-color: #F5F5F1;
}

.heart-button-like {
  background-color: #ffadad;
  border-radius: 50%;
  margin-right: 10px;
  border: none;
  width: 35px;
  height: 35px;
}

span {
  color: #B2BBAD;
  font-weight: lighter;
  font-size: 15px;
  padding-bottom: 3px;
  
}

@media (min-width: 1025px) {

  .thought-container {
    width: 500px;
  }

}