.thought-container {
 border: 1px solid #333F48;
 margin: 20px;
 box-shadow: 4px 4px black;
 width: 300px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 10px;
}

.icon-container {
  display: flex;
}

.heart-button {
  border-radius: 50%; /*vill ha denna helt rund?*/
  margin-right: 10px;
  border: none;
  /*border: #ffffff;*/
  background-color: #F5F5F1;
}

span {
  color: #B2BBAD;
  font-weight: lighter;
  font-size: 15px;
}

@media (min-width: 1025px) {

  .thought-container {
    width: 500px;
  }

}